

/*очищение всех отступов и границ*/
/*
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/
/*убираем линии обводки у некоторых браузеров */
/*:focus,:active{outline: none;}
a:focus,a:active{outline: none;}*/

/*делаем теги блочными*/
nav,footer,header,aside{display:block}

/*уравнивает повидение шрифтов и браузеров, iphone*/
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*просим теги форм наследовать семейство шрифта*/
input,button,textarea{font-family:inherit}

/*убирают прочие настройки особенностей браузеров*/
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

/*обнуляем заголовки h1-h6*/
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*-----------------------------------------------*/

body{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;

}

.liner{
    position: absolute;
    width: 64px;
    height: 0px;
    left: 667.5px;
    top: 101.5px;
    border: 1px solid #E72424;
    
}

h1 {
    font-size: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 43px;
    left: calc(50% - 409px/2);
    top: 36px;
    
}

hr { 
    color:#E72424;
    background-color: #E72424;
    size: 1px;
    width: 64px;      
}

p.block1 {
    font-family: 'Raleway';
    font-style: normal;
    padding: 29px 0px 36px 0px;
    text-align: center;
    color: #86878B;
    left: 0px;
    top: 13px;
}

h2{
    
    /*border: 1px solid #000;*/
    border: none;
    width: 189px;
    height: 29px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
    text-align: center;


}
.text0{
   /* border: 1px solid #000;

   width: 189px;
   height: 29px;*/

}
.block2{
    /*flex-direction: row;*/
    /*border: 1px solid #000;
    width: 350px;
    height: 60px;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 31px 143px;
    gap: 32px;
}
.block2_1, .block2_2, .block2_3{
    /*border: 1px solid #000;*/
    border: none;
    width: 350px;
    height: 225px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.block2 {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #000;
    text-align: center;
}
.text1{
    /*border: 1px solid #000;*/
    border: none;
    width: 350px;
    height: 60px;
    text-align: center;
    
}
.circle1{
    
    height: 70px;
    width: 70px;
    border: 1px solid #E72424 ;
    border-radius: 50%;
    background: url(../img/icons/lamp.png) center/23px 30px no-repeat;
    
}
.circle2{
    /*flex-direction: row;*/
    height: 70px;
    width: 70px;
    border: 1px solid #E72424 ;
    border-radius: 50%;
    background: url(../img/icons/keyboard.png) center/37px 26px no-repeat;
}

.circle3{
    /*flex-direction: row;*/
    height: 70px;
    width: 70px;
    border: 1px solid #E72424 ;
    border-radius: 50%;
    background: url(../img/icons/flesh.png) center/21px 33px no-repeat;
    
}
